 <div class="container">
  <div class="row">
    <div class="col-md-4 mx-auto">
      <%= simple_form_for [ @day, @booking ] do |f| %>
        <%= f.association :activity, input_html: { class: "beautiful-dropdown" } %>
        <%= f.input :notes %>
        <%= f.input :duration %>
        <%= f.input :photos, as: :file, input_html: { multiple: true } %>
        <%= f.submit "Submit", class: "btn-pink" %>
      <% end %>
       <%= link_to "Back", day_path(@day), class: "btn-ghost-gray" %>
    </div>
  </div>
</div>
