<div class="index">
  <%= link_to "Home", root_path, class: "btn btn-ghost-gray" %>
    <% @days.each do |day| %>
     <div class="card"> <%= link_to day_path(day) do %>
        <p class="indextext"><%= day.date %>
        <%= day.title %></p>
        <div> <%= link_to "Edit", edit_day_path(day), class: "btn-main" %>
        <%= link_to "Remove", day_path(day), method: :delete, data: {confirm: "Are you sure?"}, class: "btn btn-ghost-gray" %>
        </div>
      <% end %></div>
    <% end %>
    <%= link_to "Create", new_day_path, class: "btn-orange" %>
</div>
