<div class="index">
    <% @days.each do |day| %>
     <div class="card"> <%= link_to day_path(day) do %>
        <p class="indextext"><%= day.date %>
        <%= day.title %>
        <%= day.address %>
        </p>
        <div> <%= link_to "Edit", edit_day_path(day), class: "btn-pink" %>
        <%= link_to "Remove", day_path(day), method: :delete, data: {confirm: "Are you sure?"}, class: "btn btn-ghost-gray" %>
        </div>
      <% end %></div>
    <% end %>
    <%= link_to "Create", new_day_path, class: "btn-pink" %>
</div>

<div id="map"
     style="width: 100%;
     height: 600px;"
     data-markers="<%= @markers.to_json %>"
     data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>"></div>
