<div class="index">
<%= link_to "Home", root_path, class: "btn btn-info" %>
<div>
<% @days.each do |day| %>
  <%= link_to day_path(day) do %>
   <p class="indextext"><%= day.date %>
    <%= day.title %></p>
    <%= link_to "Edit", edit_day_path(day) %>
    <%= link_to "Remove", day_path(day), method: :delete, data: {confirm: "Are you sure?"}, class: "btn btn-ghost-gray" %>
  <% end %>
<% end %></div>
<%= link_to "Create", new_day_path, class: "btn btn-success" %>
</div>
