<div class="items">
  <div class="index">
    <% @days.each do |day| %>
     <div class="card"> <%= link_to day_path(day) do %>
        <div class="first_line"><p class="indextext"><%= day.date %> -
          <%= day.title %>
          <%= day.address %> </p>
          <%= link_to '<i class="fas fa-times"></i>'.html_safe, day_path(day), method: :delete, data: {confirm: "Are you sure?"}, class: "x" %> </div>
        <% Booking.joins(:day).where(day: @day).each do |booking| %>
        <p> <%= booking.activity.name %></p>
        <% end %>
        <div> <%= link_to "Edit", edit_day_path(day), class: "btn-pink" %>
        </div>
      <% end %></div>
    <% end %>
    <%= link_to "Create", new_day_path, class: "btn-pink" %>
  </div>

  <div class="weather">
    <form action="" id="location" style="width:300px; margin:0 auto;">
      <input type="text" name="content" id="city" class="form-control" placeholder="Type the city..">
      <input type="submit" value="Send" class="btn-pink">
    </form>
    <div class="weather-info">
      <div >
        <h1 id="header1"> </h1>
        <h4 id="header4"></h4>
        <p id="parag"></p>
        <p id="feelslike"></p>
      </div>
      <div>
        <img id='image'>
      </div>
    </div>

    <div class="map">
      <form action="" id="location">
        <input type="text" name="content" id="address" class="form-control" placeholder="Type the ..">
        <input type="submit" value="Send" class="btn btn-pink">
      </form>

      <div id="results">
        <ul class="list-unstyled">
        </ul>
      </div>

       <div id="map" style="height: 200px; width: 300px"></div>
    </div>
  </div>


</div>
